n8n/backup/workflows/cp-cpinfo-analysis-mcp-agent.json
{
  "name": "CP CPinfo Analysis — AI Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point cpinfo analysis** assistant. You analyze cpinfo diagnostic bundles over MCP to speed up troubleshooting.\n\n== WHAT YOU CAN DO ==\n- List and inspect uploaded cpinfo bundles.\n- Extract configuration, versions, hotfixes, and health indicators from a bundle.\n- Point at anomalies worth investigating and suggest next diagnostic steps.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "2b2c307b-b2e3-4044-a3dd-133526d79f3f",
      "name": "CP CPinfo Analysis AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        420,
        40
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point CPinfo Analysis** AI agent — I dig through cpinfo bundles: versions, hotfixes, health indicators, anomalies worth chasing.\n\n**Try one of these:**\n• What cpinfo bundles are available?\n• Summarize the health of the latest bundle",
        "options": {
          "responseMode": "lastNode",
          "title": "CP CPinfo Analysis — AI Agent",
          "subtitle": "cpinfo diagnostic bundles, analyzed for you.",
          "inputPlaceholder": "e.g. What cpinfo bundles are available?"
        }
      },
      "id": "64ebafc4-0201-41e4-b755-9b31aef8c8e0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        60
      ],
      "webhookId": "f68c312c-1ad1-4d8b-b7c1-a5ced2248f23"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        320
      ],
      "id": "b2e47a6f-86b1-45b9-8fa0-e21d7da7b5d0",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        60
      ],
      "name": "Normalize input",
      "id": "3ebda3e8-8cc8-5d9a-8ff3-62d5841d6705"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        160
      ],
      "name": "Friendly error",
      "id": "65e7a67c-8076-5be0-b43c-8bc58184a3e5"
    },
    {
      "parameters": {
        "endpointUrl": "http://cpinfo-analysis-mcp:3012",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        640,
        320
      ],
      "name": "CPinfo Analysis MCP",
      "id": "339550fe-1201-52a8-add6-1998b62c64cc"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -140,
        480
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "436489a3-701f-5e71-8240-3a2c6093bcc7"
    },
    {
      "parameters": {
        "model": "qwen3.5:9b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        480
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "128cc82c-088d-587c-86af-0d3a35e0534d"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        480
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "2494c86b-cc4e-5ec9-b277-4541ef0356ce"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        480
      ],
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "id": "2ce90f8e-0eca-5a5a-acbc-d5f1b8f5000b"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        740,
        480
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "4fbd0918-c6a2-5702-9a4c-77f67bb3106e"
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point CPinfo Analysis — AI Agent · direct MCP\n**Digs through cpinfo diagnostic bundles — versions, hotfixes, health, anomalies worth chasing.**",
        "width": 1360,
        "height": 120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -160
      ],
      "name": "Banner",
      "id": "865ee73c-6305-514b-af80-0aeddad58b7b"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n- What cpinfo bundles are available?\n- Summarize the health of the latest bundle\n\n### ⚙️ How it works\n**Zero glue.** n8n's native MCP Client Tool talks straight to the server — every tool it exposes becomes an agent tool automatically.\n\n### 🧠 Models\nAzure OpenAI **gpt-5.4** wired as default — Ollama (local, no key), Gemini 2.5 Pro, GPT-5.1 and Claude Opus 4.8 are one click away.",
        "width": 460,
        "height": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        -160
      ],
      "name": "Guide",
      "id": "694bf06b-209a-5437-b1df-c156277ae416"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "CP CPinfo Analysis AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "CP CPinfo Analysis AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "CP CPinfo Analysis AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CPinfo Analysis MCP": {
      "ai_tool": [
        [
          {
            "node": "CP CPinfo Analysis AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP CPinfo Analysis AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "736c23fa-cdb7-4b3d-a4cf-0184f365ce4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "6cd0QLPw5VxNn1d8",
  "tags": []
}