n8n/backup/workflows/fleet-commander.json
{
  "name": "CP Fleet Commander — Estate Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎖️ Check Point Fleet Commander\n**One chat. Your whole Check Point estate.** Ask anything — management, Gaia, gateway CLI, threat prevention & emulation, reputation, HTTPS inspection, logs, cpinfo, docs — this agent routes to the right MCP tool through the Docker MCP Gateway.",
        "width": 1420,
        "height": 120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -300
      ],
      "id": "d22eea71-bc48-5134-808e-bd7cd114e4c4",
      "name": "Banner"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n- Which gateways are in my estate and are their policies installed?\n- Any drops from 10.1.1.222 in the last 24h — and what's that IP's reputation?\n- Draft (don't publish) a rule blocking Facebook for the Guest network\n- Summarize the strictest Threat Prevention profile\n\n### ⚙️ How it works\n**One endpoint, every tool.** Calls ride the Docker MCP Gateway (`mcp-gateway:8080/mcp`, Bearer auth) which aggregates the whole Check Point MCP fleet — a curated 113-tool core across every domain (the model API caps tools at 128).\n\n### 🧠 Models\nAzure OpenAI **gpt-5.4** is the wired default; Ollama (local), Gemini 2.5 Pro, GPT-5.1 and Claude Opus 4.8 are one click away.",
        "width": 460,
        "height": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        -300
      ],
      "id": "a29322e7-9d6c-5236-856d-86dd7242f0fc",
      "name": "Guide"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "🎖️ I'm the **Check Point Fleet Commander** — I operate your entire estate through one MCP gateway: management, Gaia, gateway CLI, threat prevention & emulation, reputation, HTTPS inspection, logs, cpinfo and docs.\n\n**Try one of these:**\n- Which gateways are in my estate and are their policies installed?\n- Any drops from 10.1.1.222 in the last 24h — and that IP's reputation?\n- Summarize the strictest Threat Prevention profile",
        "options": {
          "responseMode": "lastNode",
          "title": "🎖️ CP Fleet Commander",
          "subtitle": "One chat for your whole Check Point estate.",
          "inputPlaceholder": "Ask anything about your Check Point estate…"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        60
      ],
      "id": "3cef2949-36bd-5849-8754-2fc108e12191",
      "name": "When chat message received",
      "webhookId": "0e5e1455-3148-5047-88ab-d999b6002eb3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        60
      ],
      "id": "99eb34aa-ad84-5a6c-a054-d5aba1c8c484",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point Fleet Commander** — a single AI agent that operates the entire Check Point estate through one MCP gateway. Every Check Point MCP tool is available to you: management (objects, access rules, NAT, packages), Gaia OS (interfaces, routes, DNS/NTP, BGP), gateway CLI diagnostics (cluster, VPN, acceleration), threat prevention (profiles, IPS), threat emulation (sandbox verdicts), reputation (URL/IP/hash), HTTPS inspection, management & audit logs, cpinfo analysis, and documentation search.\n\n== HOW TO WORK ==\n- Read the request, pick the RIGHT domain and the right tool. Discover with show/list/get before you conclude.\n- Chain across domains when it helps: e.g. a log finding -> a reputation lookup -> a proposed policy change.\n- Use ONLY real MCP tools; never invent tool names/params. If nothing fits, say so.\n- You have conversation memory — use earlier turns for context.\n\n== CHANGE SAFETY ==\n- State exactly what you will change and ask for confirmation before any add/set/delete.\n- NEVER publish or install policy unless the user explicitly says so in this conversation.\n\n== OUTPUT STYLE ==\n- Concise Markdown: short paragraphs, bullets, small tables for object/rule/log lists.\n- Summarize tool results faithfully; never dump raw JSON unless asked.\n- Name the domain/tool you used, and end multi-step work with a one-line summary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        420,
        40
      ],
      "id": "9b799904-1120-5fe5-8e05-52a1ba258e79",
      "name": "Fleet Commander",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        160
      ],
      "id": "3ec6bedc-9a36-57db-89a7-bba5b83913bd",
      "name": "Friendly error"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        320
      ],
      "id": "466f41b7-5cd1-560f-83ca-4cb414ed71b0",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-gateway:8080/mcp",
        "authentication": "bearerAuth",
        "options": {},
        "include": "selected",
        "includeTools": [
          "find_zero_hits_rules",
          "management__init",
          "management__show_gateways_and_servers",
          "management__show_object",
          "management__show_objects",
          "show_access_layer",
          "show_access_layers",
          "show_access_point_names",
          "show_access_rule",
          "show_access_rulebase",
          "show_access_section",
          "show_address_ranges",
          "show_application_site_categories",
          "show_application_site_groups",
          "show_application_sites",
          "show_cluster_member",
          "show_cluster_members",
          "show_domains",
          "show_dynamic_objects",
          "show_groups",
          "show_hosts",
          "show_lsm_cluster",
          "show_lsm_clusters",
          "show_lsm_gateway",
          "show_lsm_gateways",
          "show_mdss",
          "show_multicast_address_ranges",
          "show_nat_rulebase",
          "show_nat_section",
          "show_networks",
          "show_security_zones",
          "show_service_groups",
          "manage_gaia_credentials",
          "show_arp",
          "show_bgp_groups",
          "show_bgp_paths",
          "show_bgp_peers",
          "show_bgp_routemaps",
          "show_bgp_routes_in",
          "show_bgp_routes_out",
          "show_bgp_summary",
          "show_bootp_interfaces",
          "show_configuration_bgp",
          "show_date_time",
          "show_dhcp",
          "show_dhcp6",
          "cphaprob_if",
          "cphaprob_stat",
          "cphaprob_syncstat",
          "cpinfo_all",
          "cplic_print",
          "disk_usage",
          "dmidecode",
          "dynamic_balancing",
          "fw_accel_conns",
          "fw_accel_stat",
          "fw_accel_stats",
          "fw_ctl_arp",
          "fw_ctl_chain",
          "fw_ctl_conn",
          "check_cve_protection",
          "show_exception_group",
          "show_exception_groups",
          "show_ips_protection_extended_attribute",
          "show_ips_protection_extended_attributes",
          "show_ips_status",
          "show_ips_update_schedule",
          "show_threat_advanced_settings",
          "show_threat_indicator",
          "show_threat_indicators",
          "show_threat_layer",
          "show_threat_layers",
          "show_threat_profile",
          "show_threat_profiles",
          "show_threat_protection",
          "show_threat_protections",
          "show_threat_rule",
          "show_threat_rule_exception_rulebase",
          "download_report",
          "get_quota",
          "query_file",
          "scan_file",
          "upload_file",
          "reputation_file",
          "reputation_ip",
          "reputation_url",
          "analyze_cpinfo_overview",
          "analyze_performance_metrics",
          "audit_security_settings",
          "browse_sections_by_category",
          "check_initialization_status",
          "comprehensive_health_analysis",
          "detect_system_crashes",
          "extract_license_information",
          "extract_network_config",
          "extract_system_details",
          "https-inspection__init",
          "https-inspection__show_gateways_and_servers",
          "https-inspection__show_object",
          "https-inspection__show_objects",
          "show_https_layer",
          "show_https_layers",
          "show_https_rule",
          "show_https_rulebase",
          "show_https_section",
          "build_logs_query_filter",
          "get_next_query_page",
          "management-logs__init",
          "management-logs__show_gateways_and_servers",
          "management-logs__show_object",
          "management-logs__show_objects",
          "run_logs_query",
          "ask-checkpoint-docs"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        640,
        320
      ],
      "id": "1acdc5e2-6e6b-5c39-9b6a-f121aa86d35b",
      "name": "CP MCP Gateway (core toolset)",
      "credentials": {
        "httpBearerAuth": {
          "id": "McpGatewayBearer",
          "name": "CP MCP Gateway Bearer"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -140,
        480
      ],
      "id": "e922df5c-b1a2-59c6-a781-8d417fd117e9",
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        60,
        480
      ],
      "id": "063136b5-930b-5a0a-9c9d-06b8cdb1b300",
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        260,
        480
      ],
      "id": "57f71b83-a396-575c-98b0-71fda270d3d1",
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        480
      ],
      "id": "77971c50-8e2a-544c-a432-f4b815c335b0",
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        660,
        480
      ],
      "id": "2e2d21b8-ee97-5603-bc04-b3edda7d9459",
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Fleet Commander",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "Fleet Commander",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Fleet Commander",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fleet Commander": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CP MCP Gateway (core toolset)": {
      "ai_tool": [
        [
          {
            "node": "Fleet Commander",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "FleetCommanderWf01",
  "tags": []
}