n8n/backup/workflows/https-inspection-mcp-agent.json
{
  "name": "CP HTTPS Inspection — AI Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "47865538-2620-4608-86fd-d0697aa855f3",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        780,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point HTTPS Inspection** AI agent — I read and change your HTTPS-inspection rulebase, bypass rules and exceptions.\n\n**Try one of these:**\n• Show the HTTPS inspection rules\n• Which categories are bypassed today?",
        "options": {
          "responseMode": "lastNode",
          "title": "CP HTTPS Inspection — AI Agent",
          "subtitle": "HTTPS inspection policy & exceptions.",
          "inputPlaceholder": "e.g. Show the HTTPS inspection rules"
        }
      },
      "id": "9e279237-c20f-4495-a2a3-c2d0271483ff",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        120
      ],
      "webhookId": "df6e86fa-f71a-4dce-bf1f-86b8b8a01a49"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point HTTPS Inspection** assistant. You manage the HTTPS-inspection policy over MCP: layers, rules, and exceptions.\n\n== WHAT YOU CAN DO ==\n- Read the HTTPS-inspection rulebase and its bypass/inspect actions.\n- Inspect exceptions and trusted-CA configuration.\n- Create/modify inspection rules and exceptions when asked.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== CHANGE SAFETY ==\n- Before ANY change (add/set/delete), state exactly what you are about to change and ask the user to confirm.\n- NEVER publish or install policy unless the user explicitly asks for it in this conversation.\n- After a change, report precisely what was modified (object names, rule numbers, UIDs).\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "f0147e8a-ec3f-4ff4-9946-1576d6c8a4e7",
      "name": "CP-HTTPS-Inspection-MCP-AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        100
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        120
      ],
      "name": "Normalize input",
      "id": "ec96af08-51bf-53a1-8c3e-66b1b373e260"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        260
      ],
      "name": "Friendly error",
      "id": "74979caf-da71-5329-a7b3-cf2d82e6ea8f"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-https-inspection:3001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        720,
        400
      ],
      "name": "HTTPS Inspection MCP",
      "id": "b7fcade2-ec8e-5d86-bc07-60ec3844f2cd"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -160,
        620
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "3fb6574e-7dce-5c82-b762-93eb94466eac"
    },
    {
      "parameters": {
        "model": "qwen3.5:9b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        60,
        620
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "f636b0f1-8d67-5cde-9c30-250cf9b0c254"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        280,
        620
      ],
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "a0f7bd4f-3704-5a63-8e35-4a550345d28e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        620
      ],
      "name": "OpenAI gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "id": "d534f009-08d1-5130-a9e1-9f70dd8bf8d6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-5",
          "cachedResultName": "Claude Sonnet 5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        720,
        620
      ],
      "name": "Claude Sonnet 5",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "fadc71aa-c4f1-5a71-ad5a-0a3ae63a0649"
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point HTTPS Inspection\n#### AI Agent over MCP\n\nReads and changes the HTTPS-inspection rulebase, bypass rules and exceptions.\n\n**How it works:** n8n's **native MCP Client Tool** node pointed straight at the server — every tool auto-discovered, zero glue.\n\n**💬 Try these:**\n- Show the HTTPS inspection rules\n- Which categories are bypassed today?\n\n**🧠 Models:** Azure OpenAI `gpt-5.4` is wired as default — swap by connecting Ollama (local, no key), Gemini, OpenAI or Claude to the *Chat Model* port.",
        "width": 500,
        "height": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -100
      ],
      "name": "About this demo",
      "id": "0582afab-2191-5cc6-9e4f-ec38ef601ae4"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "CP-HTTPS-Inspection-MCP-AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CP-HTTPS-Inspection-MCP-AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "CP-HTTPS-Inspection-MCP-AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "CP-HTTPS-Inspection-MCP-AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTPS Inspection MCP": {
      "ai_tool": [
        [
          {
            "node": "CP-HTTPS-Inspection-MCP-AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9acff05-7e87-4035-94dd-01b8f2ace555",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "CHDPSOVhu4F2ufLO",
  "tags": []
}