n8n/backup/workflows/identity-provisioning-scim-agent.json
{
  "name": "CP Identity — SCIM Provisioning Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "c1eaf0fa-ec1d-4cb2-90df-43aa3fe2c1cb",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        380
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Identity** agent — I provision users into the Identity Provider over **SCIM** so they get the right access instantly.\n\n**Try one of these:**\n• Create a user jane.doe@example.com in the engineering group\n• Onboard a contractor named Sam with read-only access",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Identity — SCIM Provisioning Agent",
          "subtitle": "Plain-language user onboarding over SCIM.",
          "inputPlaceholder": "e.g. Create a user jane.doe@example.com in engineering"
        }
      },
      "id": "d654bfa5-ba59-4321-8409-71ea4fa84eb7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        80
      ],
      "webhookId": "9b9f12a9-0a0c-40e2-9302-799f2c23aa03"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95ebfdef-c8e2-4c3e-b716-1479d0cc2b93",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "79b7a20f-0626-4861-93e2-015d430c286e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c0193d30-4747-4a3d-b7b9-7f191dfae866",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        80
      ]
    },
    {
      "parameters": {
        "toolDescription": "Create (provision) a user in the Identity Provider (IdP) — SCIM. Call this once you know the person's email, first name and last name.",
        "method": "POST",
        "url": "https://idp.{{DOMAIN}}/scim/v2/Users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/scim+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"schemas\": [\"urn:ietf:params:scim:schemas:core:2.0:User\"],\n  \"userName\": \"{email}\",\n  \"name\": { \"givenName\": \"{givenName}\", \"familyName\": \"{familyName}\" },\n  \"displayName\": \"{givenName} {familyName}\",\n  \"emails\": [ { \"value\": \"{email}\", \"primary\": true } ],\n  \"active\": true\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "email",
              "description": "the new user's email address (also used as SCIM userName)",
              "type": "string"
            },
            {
              "name": "givenName",
              "description": "the new user's first name",
              "type": "string"
            },
            {
              "name": "familyName",
              "description": "the new user's last name",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        380
      ],
      "id": "99b93582-3d1b-45d6-8a43-64765abc978c",
      "name": "SCIM_Create_User",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ScimIdpTokenCred1",
          "name": "CP SCIM IdP Token"
        }
      }
    },
    {
      "parameters": {
        "content": "Onboard a contractor: \"Create an account for Jane Doe, jane.doe@contractor.example, starting Monday.\"",
        "height": 120,
        "width": 1320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        -240
      ],
      "typeVersion": 1,
      "id": "25a385ea-d1d7-4d90-9d4e-409bcf5ece7f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "id": "2d4d74b8-798d-4b07-9169-ce8cb5711a91",
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        600
      ],
      "id": "63a6b741-edfe-4594-8172-3e86e1112b27",
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        460,
        600
      ],
      "id": "860614c9-44c4-46d7-b374-0fc6be87b203",
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an identity-provisioning assistant for a Check Point Identity Provider (IdP) — SCIM. When a user asks to onboard / create / add a person, extract their email, first name and last name from the request, then call the SCIM_Create_User tool to provision them. If the email or name is missing, ask for it first. After creating the user, confirm with the userName that was created. Never invent an email address."
        }
      },
      "id": "d4e631b3-c0e3-4c54-abcc-6585a468be83",
      "name": "Identity Provisioning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        480,
        60
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "SCIM provisioning tool → POSTs a SCIM 2.0 user to the IdP. Edit the URL to your IdP and set the Bearer token in the 'CP SCIM IdP Token' credential.",
        "width": 1320,
        "color": 6,
        "height": 120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        -240
      ],
      "typeVersion": 1,
      "id": "b38bead4-8775-4060-93b6-2e435fab15d4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "LLM Models",
        "height": 620,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        60
      ],
      "typeVersion": 1,
      "id": "a4fc2516-91c1-41c9-b5fe-2d771b34b378",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        600
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "f7475222-c86d-5a66-94ab-f1a90513938f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        600
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "938e5b0e-db48-5962-9c7b-4ea8b4357be9"
    },
    {
      "parameters": {
        "content": "### 🧠 Model gallery\n\n**Azure OpenAI** is the wired default — swap by connecting another model to the agent's *Chat Model* port. Local **Ollama** needs no API key.",
        "width": 520,
        "height": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        60
      ],
      "name": "Zone Models",
      "id": "60c1f13e-fb7d-5a23-80b0-28d0e7755283"
    }
  ],
  "pinData": {},
  "connections": {
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Identity Provisioning Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Identity Provisioning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCIM_Create_User": {
      "ai_tool": [
        [
          {
            "node": "Identity Provisioning Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "Identity Provisioning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI gpt-5.1": {
      "ai_languageModel": [
        []
      ]
    },
    "Identity Provisioning Agent": {
      "main": [
        [],
        []
      ]
    },
    "Ollama — local qwen3.5": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fc0679d-3dca-4921-baec-ce199159fa3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "ScimIdpAgent00001",
  "tags": []
}