n8n/backup/workflows/management-logs-mcp-webhook-OpenAI.json
{
  "name": "CP Logs — AI Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "a38b55f0-b13d-4762-a64f-2db00696a83e",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        640,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Logs** AI agent — I query the security and audit logs and turn them into clear findings — top sources, preventions, who-changed-what.\n\n**Try one of these:**\n• Show the last 10 dropped connections\n• Any preventions in the past 24 hours? Summarize by blade\n• Who published policy changes this week?",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Logs — AI Agent",
          "subtitle": "Ask your security logs anything.",
          "inputPlaceholder": "e.g. Show the last 10 dropped connections"
        }
      },
      "id": "4cb47cf8-64d8-40a2-bf39-06c9450a7a1a",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        120
      ],
      "webhookId": "35bcabf8-caf6-4033-b66d-4658abbaa057"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "echo",
        "options": {
          "response_format": "mp3",
          "speed": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        -80
      ],
      "id": "f8a5439e-8915-4e4b-a7e2-6e411d4f2547",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-pipe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -180,
        -80
      ],
      "id": "b39a40f9-eede-4074-9e45-9f1bfc98f5c8",
      "name": "Webhook",
      "webhookId": "365d1a31-e08a-4763-85d6-832151ad5c92"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1020,
        -80
      ],
      "id": "17e62fc9-a32e-431f-a28b-805e3467614b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point logs** assistant. You query security and audit logs from the Management Log server over MCP and turn them into clear findings.\n\n== WHAT YOU CAN DO ==\n- Search connection/security logs with filters (source, destination, blade, action, time frame).\n- Summarize what happened: top sources, drops vs accepts, notable preventions.\n- Query audit logs to answer who-changed-what questions.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "b8fb44dd-b95b-42b6-a5b8-235366403420",
      "name": "Check Point Logs AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        100
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        120
      ],
      "name": "Normalize input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        280
      ],
      "name": "Friendly error"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-management-logs:3003",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1120,
        380
      ],
      "name": "Management Logs MCP"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma4:e2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        220,
        560
      ],
      "name": "Ollama — local gemma4",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        560
      ],
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        560
      ],
      "name": "OpenAI gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        880,
        560
      ],
      "name": "Claude Sonnet 4.5",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point Logs\n### AI Agent over MCP\n\nI query the security and audit logs and turn them into clear findings — top sources, preventions, who-changed-what.\n\n**How:** n8n's **native MCP Client Tool** node pointed straight at the server — tools auto-discovered, zero glue.",
        "width": 440,
        "height": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        -60
      ],
      "name": "Zone Header"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n\n- Show the last 10 dropped connections\n- Any preventions in the past 24 hours? Summarize by blade\n- Who published policy changes this week?",
        "width": 440,
        "height": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        360
      ],
      "name": "Zone Demos"
    },
    {
      "parameters": {
        "content": "### 🧠 Model gallery\n\n**Azure OpenAI** is wired as the default. Swap providers by connecting another model to the agent's *Chat Model* port — local **Ollama** needs no API key.\n\nKeys land automatically from the deployment `.env`.",
        "width": 1080,
        "height": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        460
      ],
      "name": "Zone Models"
    },
    {
      "parameters": {
        "content": "### 🔌 MCP\n\n`Management Logs MCP` — native MCP Client Tool (no auth needed inside the Docker network).\nEvery tool the server exposes becomes an agent tool automatically.",
        "width": 400,
        "height": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        260
      ],
      "name": "Zone MCP"
    },
    {
      "parameters": {
        "content": "### 🔊 Voice + API\n\nThe same agent is callable as a **REST webhook**, and the answer is spoken back with **OpenAI TTS** — show the response playing out loud.",
        "width": 520,
        "height": 120,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        -220
      ],
      "name": "Zone Voice"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Check Point Logs AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Point Logs AI Agent": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Check Point Logs AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "Check Point Logs AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Management Logs MCP": {
      "ai_tool": [
        [
          {
            "node": "Check Point Logs AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aff9932c-3e3d-473f-a237-ef4b05912b87",
  "meta": {
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec",
    "templateCredsSetupCompleted": true
  },
  "id": "odJcqKXqE5WWPQUF",
  "tags": []
}