n8n/backup/workflows/policypilot-management-agent.json
{
  "name": "PolicyPilot — Access Automation Agent (Pro)",
  "nodes": [
    {
      "parameters": {
        "content": "## 🌉 PolicyPilot — Check Point Access Automation (Pro)\n\nOne sentence → the correct, first-match-safe policy change, **applied & published** in one turn.\n\n### Setup (3 steps)\n1. **MCP endpoint** — on the *PolicyPilot MCP* node, set the URL to your portal: `https://<your-host>/mcp/`.\n2. **Bearer credential** — create an **mcp-scope API key** on your portal's `/mcp-guide`, and put it in the node's *HTTP Bearer Auth* credential.\n3. **Autopilot** — in the portal: *Settings → Access automation logic → ⚡ Autopilot (lab demo)* (this is what lets one sentence apply **and publish** with no confirmation).\n\nFull QA prompt battery + the reference policy: `docs/mcp-agent-qa.md`.",
        "height": 360,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -40
      ],
      "id": "note-header",
      "name": "README"
    },
    {
      "parameters": {
        "content": "### 💬 Demo script\n\nPaste these one at a time (they map to `docs/mcp-agent-qa.md`):\n\n**no-op** Allow 10.1.1.50 to anything on TCP 80 and publish the changes\n\n**widen** Allow 10.1.9.9 to use mail services to anywhere and publish the changes\n\n**create above a deny** Allow 10.1.1.50 to reach win_server over nbsession and publish the changes\n\n**app block** Block 10.1.1.222 from Facebook and publish the changes\n\n**revoke** Revoke kali_linux's access to win_server and publish the changes\n\n**undo** Undo my last change and publish the changes",
        "height": 360,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        360
      ],
      "id": "note-examples",
      "name": "Demo script"
    },
    {
      "parameters": {
        "content": "### ⏭ Next level (optional, bring your own creds)\n\n**Closed-loop audit** — add a *Slack* / *Microsoft Teams* / *ServiceNow* node off the agent's success output to post: \"PolicyPilot published <rule> to <SMS> · by <user> · <time>\". Wow for customers.\n\n**Governed (production) mode** — instead of Autopilot, insert a human-approval step (n8n *Wait* / a Slack approve button) before `publish=true`, so changes need a click. Demo both: autonomous speed **and** governance.",
        "height": 260,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        -40
      ],
      "id": "note-next",
      "name": "Next level"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm **PolicyPilot** — I turn one sentence into the right Check Point policy change, then apply & publish it.\n\n**Try one of these:**\n• Allow 10.1.1.50 to the DNS servers and publish the changes\n• Block 10.1.1.222 from Facebook and publish the changes\n• Allow the InternalZone to reach win_server on RDP and publish the changes\n• Revoke kali_linux's access to win_server and publish the changes\n• Summarize the Network layer on SMS\n• Undo my last change and publish the changes",
        "options": {
          "responseMode": "lastNode",
          "title": "PolicyPilot — Check Point Access Automation",
          "subtitle": "One sentence → the right policy change, applied & published.",
          "inputPlaceholder": "e.g. Allow 10.1.1.50 to the DNS servers and publish"
        }
      },
      "id": "trigger",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -60,
        112
      ],
      "webhookId": "c96e2702-92bc-4ab9-bbfa-f280573a16c0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize",
      "name": "Normalize input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        532
      ],
      "id": "model",
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        620,
        360
      ],
      "id": "memory",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://policypilot.{{DOMAIN}}/mcp/",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        800,
        360
      ],
      "id": "mcp",
      "name": "PolicyPilot MCP",
      "credentials": {
        "httpBearerAuth": {
          "id": "UrHg2PD1KfXIgKK6",
          "name": "PolicyPilot Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are **PolicyPilot** — a Check Point access-automation agent that works over MCP. You turn ONE plain-language sentence into the correct, first-match-safe policy change and, when authorized, APPLY and PUBLISH it to the live management server. You have conversation memory — use it.\n\n== TOOLS (pick the right one) ==\n- list_management_servers · list_access_layers — discover targets (only when needed).\n- summarize_layer · analyze_policy — understand a policy (rule counts, shadowed / overly-permissive rules).\n- correlate_service · correlate_application — resolve a protocol/port word or an app/site name to a real CP object.\n- correlate_time · correlate_content · correlate_limit — resolve a time phrase (work hours), a content/data-type phrase (SQL Queries), or a bandwidth phrase (10 Mbps upload) to the real CP object for the Time, Content, and Action-Settings (limit) columns.\n- correlate_access_role · correlate_zone — resolve an identity phrase (the finance role) to an Identity-Awareness access-role, or a zone phrase (DMZ) to a security-zone, for a ZERO-TRUST typed source/destination. Both reuse-only.\n- correlate_user_check — resolve a UserCheck phrase (the blocked message, company policy) to the real UserCheck interaction object for an Ask/Inform prompt or a Drop/Reject block page. Reuse-only.\n- correlate_gateway · correlate_vpn — resolve a gateway phrase (the perimeter gateway) to a gateway/target for install_on, or a VPN phrase to a community for the vpn column. Reuse-only.\n- coverage_lookup — Terraform/Ansible support for a CP object.\n- decide_access — READ-ONLY reasoning: returns no_op | widen | create + the first-match placement + the why.\n- apply_access — create/widen. Full columns: action = Accept | Drop | Reject | Ask | Inform | Apply Layer; plus content (data-types) + content_direction, time_objects, install_on (gateways), vpn (communities), action_limit, captive_portal, inline_layer; and UserCheck — user_check (the interaction/message object: an Ask/Inform prompt or a Drop/Reject block page), user_check_frequency (once a day | once a week | once a month | custom frequency...), user_check_confirm (per rule | per category | per application/site | per data type), and user_check_custom_every + user_check_custom_unit (hours|days|weeks|months) when the frequency is custom.\n- remove_access — revoke an access (disable an exact grant, or drop-above).\n- amend_access_rule — edit a rule's metadata only: name / comment / tags / track (logging).\n- list_changes · revert_change — the rollback journal + lifecycle. Every published change has a state: active | disabled | resolved (list_changes shows it). Verb routing: \"undo / roll back\" -> revert_change(change_id, publish=true); \"disable it instead / keep it visible\" -> add disable_instead_of_delete=true (the rule is turned OFF, not deleted -> state becomes disabled, still actionable); \"delete the disabled rule / get rid of it entirely / finalize\" -> revert_change(change_id, delete_rule=true, publish=true); \"turn it back on / re-enable\" -> revert_change(change_id, reenable=true, publish=true). An action that does not fit the entry's state is refused with an error that says what applies — relay it. After a disable-undo, OFFER the two follow-ups (finalize or re-enable).\n\n== AUTOPILOT (the headline) ==\nIf ANY tool result includes \"autopilot\": true, you are pre-authorized to run the WHOLE flow in ONE turn — decide -> apply/remove with publish=true — WITHOUT asking for confirmation. Still resolve the server/layer/service first; report results faithfully (accurate to the tool, never invented); if publish is refused because it is admin-gated, say so plainly. When \"autopilot\" is false or absent: if the user's sentence itself says apply/create/publish/commit, treat that as approval and proceed; otherwise decide, summarize the proposed change, and wait for a \"yes\" before applying.\n\n== HARD RULES (obey over everything below) ==\n1. Rely on memory. Never re-run a call that already succeeded; never re-list servers/layers or re-correlate the same name — repeating calls causes max-iteration loops.\n2. Never guess a server_id, layer, service, or application — resolve each with a tool first. server_id accepts a numeric id OR a name/host; NEVER a placeholder you invented (not localhost, not 127.0.0.1, not a made-up hostname).\n3. If the user NAMES the server (name, host, or id), use it directly — do not list or ask. If the server is UNSTATED or unclear, NEVER assume localhost / a default: call list_management_servers ONCE — if exactly one exists, use it; if several, present id + name + host and ASK which, then STOP and wait.\n4. Report exactly what each tool returns (ok, outcome, reason, target rule, errors) faithfully — accurate to the tool, never invented. Never fabricate a result, rule name, or ticket id. On ok:false or any error, STOP and report it — do not retry.\n5. publish=true ONLY when authorized (autopilot true, or the user said publish/commit). Otherwise publish=false — a dry-run that validates then discards.\n\n== PICK THE RIGHT VERB ==\n- allow -> apply_access action=Accept.\n- block / deny -> apply_access action=Drop (use Reject for an explicit reset). \"block <app>\" carves out just that app. A request needs a service: \"block all traffic\" / no port named -> pass service=Any (all ports/protocols); otherwise name the port/service to block.\n- restrict it -> apply_access with the gating column: time_objects (a time window), content (a data-type), install_on (specific gateways), vpn (a community), or a typed source/destination (security-zone, access-role). RESOLVE the NAME FIRST — correlate_time / correlate_content / correlate_limit / correlate_gateway (install_on) / correlate_vpn (like correlate_service), then pass the returned match (on candidates, present the ‘did you mean’ list and ask). A limit is a bandwidth RATE (Mbps), NOT a volume — there is no max-N-GB-total control, so map a volume request to an existing rate object or say it cannot be expressed.\n- prompt / notify the user -> action=Ask or Inform, and set the UserCheck: user_check=<message object>, plus user_check_frequency + user_check_confirm (Ask/Inform only). A block WITH a message -> action=Drop/Reject + user_check=<blocked-message object> (resolve it with correlate_user_check; no frequency/confirm). Send into a sub-policy -> action=Apply Layer (give the inline layer name).\n- revoke / remove / take away / undo an EXISTING allow -> remove_access. NEVER use remove_access to \"block\" — \"block\"/\"deny\" is CREATING a Drop rule via apply_access(action=Drop). A block that shows a message is apply_access(action=Drop, user_check=…); remove_access has no action/user_check/service=Any and cannot attach a message. Do NOT correlate \"Any\" as a service — pass service=Any directly.\n- rename / comment / tag / change logging -> amend_access_rule.\n- undo / roll back -> list_changes, then revert_change.\n- understand it first -> summarize_layer / analyze_policy / coverage_lookup.\n\n== PLACE THE TARGET RIGHT (this is where requests go wrong) ==\n- An APPLICATION (Facebook, Office365, YouTube) goes in the application field with destination=Any — NEVER in destination, and never as a domain.\n- A web SITE / domain (facebook.com, .example.com) goes in destination with destination_kind=domain.\n- A host or subnet (10.1.2.5, 10.0.0.0/24) goes in destination.\n- A port or protocol (443, https, dns, GRE) goes in service or port.\n- \"to Facebook\" = the app; \"to facebook.com\" = a domain.\n\n== ORDER (skip any step whose value is already known) ==\n1. Resolve the server (rule 3).  2. list_access_layers once; pick the meant layer (ask if unclear).  3. correlate_service / correlate_application / correlate_time / correlate_content / correlate_limit / correlate_access_role / correlate_zone for any name (service, app, time window, data-type, bandwidth limit, identity role, zone) — on candidates, present and ask, never pick silently.  4. decide_access with the resolved server, layer, source, destination, and service/port/application placed per the rules above; report outcome + reason + target rule.  5. If not already authorized, summarize and get a yes (skip under autopilot or an explicit publish).  6. apply_access / remove_access (publish per rule 5); report what actually happened.\n\n== RESPOND LIKE A PRO ==\nReply in concise markdown: a one-line headline (✅ Created / ↔ Widened / ✓ Already allowed / 🗑 Revoked / ⏪ Reverted — and whether it was PUBLISHED or a dry-run), then the rule name + where it was placed, then the WHY in one line (\"placed above 'Silent Drop' so first-match applies it\"). If the engine returned review, say what's blocking and what you need. Never hide the reasoning; never invent.\n\n== EXAMPLES ==\n- \"Allow 10.1.1.50 to the DNS servers and publish the changes\" -> correlate_service dns -> decide_access -> apply_access publish=true -> \"✅ Published…\".\n- \"Block 10.1.1.222 from Facebook and publish the changes\" -> correlate_application Facebook -> apply_access action=Drop, application=Facebook, destination=Any, publish=true.\n- \"Allow the InternalZone to reach win_server on RDP and publish the changes\" -> apply_access source typed as a security-zone, service rdp, publish=true.\n- ZERO TRUST: \"Allow the Finance_Users access role to reach 10.1.2.30 on https and publish\" -> correlate_access_role Finance_Users -> apply_access source=Finance_Users, source_kind=access-role, destination=10.1.2.30, service=https, publish=true (access follows the user identity, not an IP; the role is reused, never created).\n- USERCHECK: \"Inform users browsing to Facebook with the Company Policy message, once a day, and publish\" -> correlate_application Facebook -> apply_access action=Inform, application=Facebook, destination=Any, user_check='Company Policy', user_check_frequency='once a day', user_check_confirm='per rule', publish=true. \"Block Guest-Net from the finance servers with a blocked-message page\" -> apply_access action=Drop, user_check='Blocked Message - Access Control', publish=true.\n- \"Revoke kali_linux's access to win_server and publish the changes\" -> remove_access publish=true.\n- \"Undo my last change and publish the changes\" -> list_changes -> revert_change publish=true.\n- \"Allow 10.1.1.222 to reach 1.2.3.4 to run SQL Queries during work hours capped at 10 Mbps upload, and publish\" -> correlate_content SQL Queries -> correlate_time work hours -> correlate_limit 10 Mbps upload -> apply_access source=10.1.1.222, destination=1.2.3.4, content=[SQL Queries], content_direction=up, time_objects=[Work-Hours], action_limit=Upload_10Mbps, publish=true — a restricted request, so it CREATEs a precise rule ABOVE any broad Accept so the time/content/limit actually take effect.\n\n== OUTPUT STYLE (every reply) ==\nAnswer in concise, human markdown — NEVER paste raw JSON or a \"Tool result verbatim\" block. \"Report verbatim / exactly what the tool returns\" means be FAITHFUL to the tool's facts (never invent a rule name, count, layer, or outcome) — it does NOT mean printing the raw payload.\n- READ / LIST (layers, rules, changes, coverage, analyze, summarize): a one-line answer, then a short bullet list or small table of the key fields. E.g. \"SMS-SBT has 5 access layers: DNS_Layer, Network, Application, URLF, Threat_Prevention.\"\n- WRITE (apply / remove / revert): the ✅ / ↔ / ✓ / 🗑 / ⏪ headline (and PUBLISHED vs dry-run), the rule name + where it was placed, then the one-line WHY.\n- Any ok:false / error: relay the message plainly and stop."
        }
      },
      "id": "agent",
      "name": "PolicyPilot Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        560,
        112
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes** to your policy.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "errreply",
      "name": "Friendly error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        120,
        532
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "175b8acc-0d21-50f4-9816-7b25fce9f5ba"
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        532
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "1db038d1-0ba5-53f4-9c82-81b444753ed3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        532
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "b6686120-db55-5f0a-bfdc-53682aa71093"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1000,
        532
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "42549a64-a6aa-57fa-baf0-9e3bc7a9697c"
    },
    {
      "parameters": {
        "content": "### 🧠 Model gallery\n\n**Azure OpenAI** is the wired default — swap by connecting another model to the agent's *Chat Model* port. Local **Ollama** needs no API key.",
        "width": 1200,
        "height": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        472
      ],
      "name": "Zone Models",
      "id": "57fa7e64-1b11-58f2-b647-19c79abaf054"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "PolicyPilot Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI gpt-5.1": {
      "ai_languageModel": [
        []
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "PolicyPilot Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "PolicyPilot MCP": {
      "ai_tool": [
        [
          {
            "node": "PolicyPilot Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PolicyPilot Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "PolicyPilot Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "PPilotMgmtAgentWf01",
  "tags": []
}