n8n/backup/workflows/quantum-gw-cli-via-gateway.json
{
  "name": "CP Gateway CLI — AI Agent (Gateway)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Gateway CLI** AI agent — I run operational CLI diagnostics on your Security Gateways and explain what the output means.\n\n⚡ Every call rides through the **Docker MCP Gateway** — one endpoint, Bearer auth, the whole Check Point MCP fleet.\n\n**Try one of these:**\n• Is the policy installed and up to date on the gateway?\n• Show the cluster status\n• Any VPN tunnels down right now?",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Gateway CLI — AI Agent (Gateway)",
          "subtitle": "Live gateway diagnostics — policy, cluster, VPN, performance.",
          "inputPlaceholder": "e.g. Is the policy installed and up to date on the gateway?"
        }
      },
      "id": "493cf34a-dea8-46de-854d-b99ae4e3d926",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        120
      ],
      "webhookId": "ec13f1ce-4715-514a-987b-7015860efa1b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point Gateway CLI diagnostics** assistant. You run operational CLI commands on Security Gateways over MCP (fw/cpstat/cphaprob/vpn and friends) to troubleshoot live issues. All calls go through the Docker MCP Gateway.\n\n== WHAT YOU CAN DO ==\n- Run health and status diagnostics: policy status, cluster state, VPN tunnels, connections table.\n- Collect performance data (CPU, memory, acceleration status).\n- Interpret the command output for the user — explain what it means, not just what it says.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== GATEWAY ==\nYour tools arrive through the Check Point Docker MCP Gateway: ONE endpoint with Bearer auth that aggregates EVERY CP MCP server. You will therefore see tools from other Check Point domains too (management, Gaia, logs, threat prevention, reputation, ...). Prefer the tools relevant to this agent's domain; use the others only when the user's request clearly needs them.\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "2be85442-6db8-446b-9134-4826a1db3348",
      "name": "Quantum GW CLI AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        380
      ],
      "id": "b051d3d5-ac7a-41f8-b70c-15d1ce624ddd",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        120
      ],
      "name": "Normalize input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        280
      ],
      "name": "Friendly error"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-gateway:8080/mcp",
        "options": {},
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1120,
        380
      ],
      "name": "CP MCP Gateway",
      "credentials": {
        "httpBearerAuth": {
          "id": "McpGatewayBearer",
          "name": "CP MCP Gateway Bearer"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma4:e2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        220,
        560
      ],
      "name": "Ollama — local gemma4",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        560
      ],
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        560
      ],
      "name": "OpenAI gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        880,
        560
      ],
      "name": "Claude Sonnet 4.5",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point Gateway CLI\n### AI Agent over MCP (Gateway)\n\nI run operational CLI diagnostics on your Security Gateways and explain what the output means.\n\n**How:** one endpoint (`mcp-gateway:8080/mcp`), **Bearer auth**, every CP MCP server aggregated.",
        "width": 440,
        "height": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        -60
      ],
      "name": "Zone Header"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n\n- Is the policy installed and up to date on the gateway?\n- Show the cluster status\n- Any VPN tunnels down right now?",
        "width": 440,
        "height": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        360
      ],
      "name": "Zone Demos"
    },
    {
      "parameters": {
        "content": "### 🧠 Model gallery\n\n**Azure OpenAI** is wired as the default. Swap providers by connecting another model to the agent's *Chat Model* port — local **Ollama** needs no API key.\n\nKeys land automatically from the deployment `.env`.",
        "width": 1080,
        "height": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        460
      ],
      "name": "Zone Models"
    },
    {
      "parameters": {
        "content": "### 🔌 MCP\n\n`CP MCP Gateway` — native MCP Client Tool with **Bearer auth** to the gateway.\nEvery tool the server exposes becomes an agent tool automatically.",
        "width": 400,
        "height": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        260
      ],
      "name": "Zone MCP"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CP MCP Gateway": {
      "ai_tool": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Quantum GW CLI AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6421745-1818-40de-8ba3-84147ead0267",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "GwQuantumGwCliWf1",
  "tags": []
}