n8n/backup/workflows/quantum-management-via-gateway.json
{
  "name": "quantum-management-via-gateway",
  "nodes": [
    {
      "parameters": {},
      "id": "b1eaf0fa-ec1d-4cb2-90df-43aa3fe2b1cb",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        880,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7654bfa5-ba59-4321-8409-71ea4fa83eb7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        112
      ],
      "webhookId": "8a9f12a9-0a0c-40e2-9302-799f2c23a992"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85ebfdef-c8e2-4c3e-b716-1479d0cc2a83",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "69b7a20f-0626-4861-93e2-015d430c276e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0193d30-4747-4a3d-b7b9-7f191dfae856",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        112
      ]
    },
    {
      "parameters": {
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1136,
        352
      ],
      "id": "60bee1eb-8a97-45ae-ad68-1a71a139f9ad",
      "name": "List-Gateway-MCP-Tools",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "McpGatewayCred01",
          "name": "CP MCP Gateway Docker"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1296,
        352
      ],
      "id": "89b93582-3d1b-45d6-8a43-64765abc868c",
      "name": "Gateway-MCP-Client",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "McpGatewayCred01",
          "name": "CP MCP Gateway Docker"
        }
      }
    },
    {
      "parameters": {
        "content": "Same agent as quantum-management-mcp, but every MCP call rides through the Docker MCP Gateway (one endpoint, Bearer auth, tools aggregated from documentation + quantum-management).",
        "height": 120,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        112
      ],
      "typeVersion": 1,
      "id": "15a385ea-d1d7-4d90-9d4e-409bcf5ebe6f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        480,
        384
      ],
      "id": "1d4d74b8-798d-4b07-9169-ce8cb5710991",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        384
      ],
      "id": "53a6b741-edfe-4594-8172-3e86e1112a27",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        320,
        384
      ],
      "id": "760614c9-44c4-46d7-b374-0fc6be87b103",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a smart AI assistant. Your tools come from the Check Point MCP GATEWAY, which aggregates several MCP servers (product documentation + Quantum management) behind one endpoint. Always follow these rules:\n\n1. Start every run by calling \"List-Gateway-MCP-Tools\". Do not execute yet.\n2. Show the available tool names.\n3. Use the best available tool name from step 1 in the tool Gateway-MCP-Client.\n4. Summarize the results you receive from Check Point after triggering the Gateway-MCP-Client in the previous step."
        }
      },
      "id": "b4e631b3-c0e3-4c54-abcc-6585a468be73",
      "name": "Quantum Management AI Agent (Gateway)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        864,
        112
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "MCP via Gateway",
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        336
      ],
      "typeVersion": 1,
      "id": "a38bead4-8775-4060-93b6-2e435fab14d4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "LLM Models",
        "height": 176,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        336
      ],
      "typeVersion": 1,
      "id": "94fc2516-91c1-41c9-b5fe-2d771b34b278",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Quantum Management AI Agent (Gateway)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Quantum Management AI Agent (Gateway)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List-Gateway-MCP-Tools": {
      "ai_tool": [
        [
          {
            "node": "Quantum Management AI Agent (Gateway)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gateway-MCP-Client": {
      "ai_tool": [
        [
          {
            "node": "Quantum Management AI Agent (Gateway)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Quantum Management AI Agent (Gateway)": {
      "main": [
        [],
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quantum Management AI Agent (Gateway)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2fb0679d-3dca-4921-baec-ce199159f92e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "GwQmMcpPilot0001",
  "tags": []
}
