n8n/backup/workflows/quantum-gw-cli-mcp-agent.json
{
  "name": "CP Gateway CLI — AI Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Gateway CLI** AI agent — I run operational CLI diagnostics on your Security Gateways and explain what the output means.\n\n**Try one of these:**\n• Is the policy installed and up to date on the gateway?\n• Show the cluster status\n• Any VPN tunnels down right now?",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Gateway CLI — AI Agent",
          "subtitle": "Live gateway diagnostics — policy, cluster, VPN, performance.",
          "inputPlaceholder": "e.g. Is the policy installed and up to date on the gateway?"
        }
      },
      "id": "493cf34a-dea8-46de-854d-b99ae4e3d926",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        80
      ],
      "webhookId": "7b1a963d-5338-4954-97bf-77f18643fdc3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point Gateway CLI diagnostics** assistant. You run operational CLI commands on Security Gateways over MCP (fw/cpstat/cphaprob/vpn and friends) to troubleshoot live issues.\n\n== WHAT YOU CAN DO ==\n- Run health and status diagnostics: policy status, cluster state, VPN tunnels, connections table.\n- Collect performance data (CPU, memory, acceleration status).\n- Interpret the command output for the user — explain what it means, not just what it says.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "2be85442-6db8-446b-9134-4826a1db3348",
      "name": "Quantum GW CLI AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        480,
        60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        380
      ],
      "id": "b051d3d5-ac7a-41f8-b70c-15d1ce624ddd",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        80
      ],
      "name": "Normalize input",
      "id": "31dd13bb-7588-5387-8bd7-15dafeffd855"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        180
      ],
      "name": "Friendly error",
      "id": "1ec71b96-0b2e-50a0-a263-3472d68e7cc8"
    },
    {
      "parameters": {
        "endpointUrl": "http://quantum-gw-cli-mcp:3009",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        700,
        380
      ],
      "name": "Gateway CLI MCP",
      "id": "de45929c-5831-540e-99c4-7c030a94f3f9"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "c3d864be-d944-53fb-a481-2dd836750937"
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        460,
        600
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "7bf4797f-9913-53cd-af9c-9e43aa7771d2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        600
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "97a8c30d-2bca-5067-a634-effb0d75ac9e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        600
      ],
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "id": "896cf1a9-f0e1-51c9-9c5b-e0929d42a3fe"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        600
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "430abbac-31f0-5847-912e-9e7faf1c360f"
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point Gateway CLI — AI Agent · direct MCP\n**Runs live diagnostics on your Security Gateways — policy, cluster, VPN, performance — and explains the output.**",
        "width": 1320,
        "height": 120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -240
      ],
      "name": "Banner",
      "id": "06dbd7de-3bc9-56c0-aeab-e789c7bf0e07"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n- Is the policy installed and up to date on the gateway?\n- Show the cluster status\n- Any VPN tunnels down right now?\n\n### ⚙️ How it works\n**Zero glue.** n8n's native MCP Client Tool talks straight to the server — every tool it exposes becomes an agent tool automatically.\n\n### 🧠 Models\nAzure OpenAI **gpt-5.4** wired as default — Ollama (local, no key), Gemini 2.5 Pro, GPT-5.1 and Claude Opus 4.8 are one click away.",
        "width": 520,
        "height": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        60
      ],
      "name": "Guide",
      "id": "252e12ad-6758-596f-abaf-e2718c6eada0"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gateway CLI MCP": {
      "ai_tool": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Quantum GW CLI AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6421745-1818-40de-8ba3-84147ead0267",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "ksH0PFmOUUF5twK1",
  "tags": []
}