n8n/backup/workflows/quantum-gw-cli-via-gateway.json
{
  "name": "CP Gateway CLI — AI Agent (Gateway)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Gateway CLI** AI agent — I run operational CLI diagnostics on your Security Gateways and explain what the output means.\n\n⚡ Every call rides through the **Docker MCP Gateway** — one endpoint, Bearer auth, the whole Check Point MCP fleet.\n\n**Try one of these:**\n• Is the policy installed and up to date on the gateway?\n• Show the cluster status\n• Any VPN tunnels down right now?",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Gateway CLI — AI Agent (Gateway)",
          "subtitle": "Live gateway diagnostics — policy, cluster, VPN, performance.",
          "inputPlaceholder": "e.g. Is the policy installed and up to date on the gateway?"
        }
      },
      "id": "493cf34a-dea8-46de-854d-b99ae4e3d926",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        80
      ],
      "webhookId": "ec13f1ce-4715-514a-987b-7015860efa1b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point Gateway CLI diagnostics** assistant. You run operational CLI commands on Security Gateways over MCP (fw/cpstat/cphaprob/vpn and friends) to troubleshoot live issues. All calls go through the Docker MCP Gateway.\n\n== WHAT YOU CAN DO ==\n- Run health and status diagnostics: policy status, cluster state, VPN tunnels, connections table.\n- Collect performance data (CPU, memory, acceleration status).\n- Interpret the command output for the user — explain what it means, not just what it says.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== GATEWAY ==\nYour tools arrive through the Check Point Docker MCP Gateway: ONE endpoint with Bearer auth that aggregates EVERY CP MCP server. You will therefore see tools from other Check Point domains too (management, Gaia, logs, threat prevention, reputation, ...). Prefer the tools relevant to this agent's domain; use the others only when the user's request clearly needs them.\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "2be85442-6db8-446b-9134-4826a1db3348",
      "name": "Quantum GW CLI AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        480,
        60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        380
      ],
      "id": "b051d3d5-ac7a-41f8-b70c-15d1ce624ddd",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        80
      ],
      "name": "Normalize input",
      "id": "4ea58b16-2ce8-51d4-9dae-59f05fd9f91f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        180
      ],
      "name": "Friendly error",
      "id": "b492c262-2786-5dd9-b736-894505e31888"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-gateway:8080/mcp",
        "options": {},
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "cphaprob_if",
          "cphaprob_stat",
          "cphaprob_syncstat",
          "cpinfo_all",
          "cplic_print",
          "disk_usage",
          "dmidecode",
          "dynamic_balancing",
          "fw_accel_conns",
          "fw_accel_stat",
          "fw_accel_stats",
          "fw_ctl_arp",
          "fw_ctl_chain",
          "fw_ctl_conn",
          "fw_ctl_cpasstat",
          "fw_ctl_dlpkstat",
          "fw_ctl_iflist",
          "fw_ctl_pstat",
          "fw_ctl_tcpstrstat",
          "hcp_protect_info",
          "ip_route_show",
          "netstat_route",
          "show_asset_all",
          "show_interface",
          "show_interfaces",
          "show_interfaces_by_type",
          "show_route",
          "show_routemaps",
          "show_router_id",
          "show_routes",
          "show_routes_aggregate",
          "show_routes_bgp",
          "show_routes_direct",
          "show_routes_kernel",
          "show_routes_ospf",
          "show_routes_rip",
          "show_routes_static"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        700,
        380
      ],
      "name": "CP MCP Gateway",
      "credentials": {
        "httpBearerAuth": {
          "id": "McpGatewayBearer",
          "name": "CP MCP Gateway Bearer"
        }
      },
      "id": "fc89910e-b665-55ea-8efd-4a005cab3152"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "b53a867e-80a9-5c46-b338-59b5b44aea72"
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        460,
        600
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "1ff583d7-b8be-5d8b-a951-e04784e49852"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        600
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "0c1f1da4-b485-51a2-a0e0-9cd0d9d3c685"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        600
      ],
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "id": "a2b32245-f151-5dd5-ac11-cbbc6b47c4b9"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        600
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "76ea515c-89b8-5109-9d25-d7fdf5da9683"
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point Gateway CLI — AI Agent · via MCP Gateway\n**Runs live diagnostics on your Security Gateways — policy, cluster, VPN, performance — and explains the output.**",
        "width": 1320,
        "height": 120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -240
      ],
      "name": "Banner",
      "id": "85e90f3b-0416-557f-b5f0-36a4ae6158e6"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n- Is the policy installed and up to date on the gateway?\n- Show the cluster status\n- Any VPN tunnels down right now?\n\n### ⚙️ How it works\n**One endpoint. Every CP tool.** Calls ride the Docker MCP Gateway (`mcp-gateway:8080/mcp`, Bearer auth) which aggregates the entire Check Point MCP fleet.\n\n### 🧠 Models\nAzure OpenAI **gpt-5.4** wired as default — Ollama (local, no key), Gemini 2.5 Pro, GPT-5.1 and Claude Opus 4.8 are one click away.",
        "width": 520,
        "height": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        60
      ],
      "name": "Guide",
      "id": "5c90f2b5-21c4-51fc-84df-c831ce46edfa"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CP MCP Gateway": {
      "ai_tool": [
        [
          {
            "node": "Quantum GW CLI AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Quantum GW CLI AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6421745-1818-40de-8ba3-84147ead0267",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "GwQuantumGwCliWf1",
  "tags": []
}