n8n/backup/workflows/quantum-gaia-mcp-agent.json
{
  "name": "CP Gaia OS — AI Agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Gaia OS** AI agent — I inspect and configure the Gaia OS of your gateways and management servers over the Gaia REST API.\n\n**Try one of these:**\n• Show the interfaces and their IPs\n• What are the static routes?\n• Check the DNS and NTP configuration",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Gaia OS — AI Agent",
          "subtitle": "Gateway OS configuration — interfaces, routes, DNS, NTP.",
          "inputPlaceholder": "e.g. Show the interfaces and their IPs"
        }
      },
      "id": "b77a2027-8050-4dd2-b156-e5c0418f8e51",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        60
      ],
      "webhookId": "414009d6-7ae2-471c-9f11-f3590bc2e024"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point Gaia OS** assistant. You work over MCP against the Gaia REST API of gateways / management servers: read and, when authorized, change OS-level configuration.\n\n== WHAT YOU CAN DO ==\n- Read interfaces, routes, DNS, NTP, hostname, time zone, and general system info.\n- Diagnose connectivity/OS issues from the Gaia view (interface state, routing table).\n- Apply OS configuration changes (interfaces, static routes, DNS/NTP) when asked.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== CHANGE SAFETY ==\n- Before ANY change (add/set/delete), state exactly what you are about to change and ask the user to confirm.\n- NEVER publish or install policy unless the user explicitly asks for it in this conversation.\n- After a change, report precisely what was modified (object names, rule numbers, UIDs).\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "e59d38fb-2b32-4d6c-834f-3065a2eaaf34",
      "name": "CP Gaia AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        420,
        40
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        320
      ],
      "id": "c956e47f-0004-4e28-a4ba-cbcb9a7ce709",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        60
      ],
      "name": "Normalize input",
      "id": "e10be0d1-3164-5a12-9984-a9e973632cee"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        160
      ],
      "name": "Friendly error",
      "id": "4d2aa9f3-27d7-5f25-b239-2a2c4feed54f"
    },
    {
      "parameters": {
        "endpointUrl": "http://quantum-gaia-mcp:3011/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        640,
        320
      ],
      "name": "Gaia OS MCP",
      "id": "3656b58e-cdf4-5370-bc06-6d41075f48c8"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -140,
        480
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "f7a13af5-0e4e-54f9-bf65-d30be2c88f03"
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        480
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "d63bbed7-8ef8-5d18-8fb8-ed5b3704cf40"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        480
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "8058096e-35e8-509a-841f-5c3c2925a4df"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        480
      ],
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "id": "e3f7257f-2e65-5fbb-b443-a210263e6af3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        740,
        480
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "69bbc346-0ed9-534e-9b31-c33e1ee76943"
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point Gaia OS — AI Agent · direct MCP\n**Inspects and configures the Gaia OS of your gateways — interfaces, routes, DNS, NTP.**",
        "width": 1360,
        "height": 120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -160
      ],
      "name": "Banner",
      "id": "3a2f1948-8dba-5b20-8b81-7c57aeb083a0"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n- Show the interfaces and their IPs\n- What are the static routes?\n- Check the DNS and NTP configuration\n\n### ⚙️ How it works\n**Zero glue.** n8n's native MCP Client Tool talks straight to the server — every tool it exposes becomes an agent tool automatically.\n\n### 🧠 Models\nAzure OpenAI **gpt-5.4** wired as default — Ollama (local, no key), Gemini 2.5 Pro, GPT-5.1 and Claude Opus 4.8 are one click away.",
        "width": 460,
        "height": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        -160
      ],
      "name": "Guide",
      "id": "4196d77c-4297-5ae3-b62c-8487262ef3b6"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gaia OS MCP": {
      "ai_tool": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP Gaia AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bc9d96e-5796-4ea8-8afb-8ea813d04c16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "GIibydxIfbki3xbJ",
  "tags": []
}