n8n/backup/workflows/quantum-gaia-mcp-agent.json
{
  "name": "quantum-gaia-mcp-agent",
  "nodes": [
    {
      "parameters": {},
      "id": "05534c05-08ea-4d6a-9203-f85cb2f01a86",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        1312,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b77a2027-8050-4dd2-b156-e5c0418f8e51",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        768,
        -80
      ],
      "webhookId": "414009d6-7ae2-471c-9f11-f3590bc2e024"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "id": "b4673889-2751-4a3f-ad21-a2392d484539",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -80
      ]
    },
    {
      "parameters": {
        "content": "show me all the interfaces on 10.1.1.111",
        "height": 80,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -80
      ],
      "typeVersion": 1,
      "id": "f3ed736d-ed88-444b-99c9-e6172f11f1f6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        928,
        160
      ],
      "id": "f5ba3ba5-18f6-4566-b3a2-c831caebd485",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        768,
        160
      ],
      "id": "c6c5ef55-b84a-4fdd-b097-9f3c40577a8b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "MCP",
        "height": 176,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        112
      ],
      "typeVersion": 1,
      "id": "9a4972a1-1bc4-4ac0-bf75-02267cfd2821",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "LLM Models",
        "height": 176,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        112
      ],
      "typeVersion": 1,
      "id": "6034af8a-31bf-4a96-8c1a-1c6c83dabbc5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a smart AI assistant. Always follow these rules:\n\n1. Start every run by calling \"List CP MCP Client\" tools. Do not execute yet.\n2. Show the available tool names.\n3. Use the best available 'Tool_Name' and parameters to by calling \"Execute CP MCP Client\".\n4. summarize the results."
        }
      },
      "id": "e59d38fb-2b32-4d6c-834f-3065a2eaaf34",
      "name": "CP Gaia AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1216,
        -80
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        160
      ],
      "id": "c8841499-2a32-4b5c-b4f6-1794b9dfe5d9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1552,
        144
      ],
      "id": "64ea796a-e9b5-409a-9dbb-5224ac51fc0c",
      "name": "List CP MCP Client",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "E2KEIsNznFcetHLU",
          "name": "CP Gaia MCP Client Docker"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1728,
        144
      ],
      "id": "fc7269a3-d7aa-478b-81a3-a061f15497b5",
      "name": "Execute CP MCP Client",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "E2KEIsNznFcetHLU",
          "name": "CP Gaia MCP Client Docker"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List CP MCP Client": {
      "ai_tool": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute CP MCP Client": {
      "ai_tool": [
        [
          {
            "node": "CP Gaia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8b7eba4-b6af-4bda-83bb-5ab4741cf920",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "GIibydxIfbki3xbJ",
  "tags": []
}