n8n/backup/workflows/reputation-service-via-gateway.json
{
  "name": "CP Reputation — AI Agent (Gateway)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Reputation** AI agent — I look up Check Point reputation for URLs, IPs and file hashes and tell you what to do about it.\n\n⚡ Every call rides through the **Docker MCP Gateway** — one endpoint, Bearer auth, the whole Check Point MCP fleet.\n\n**Try one of these:**\n• What's the reputation of 1.2.3.4?\n• Is example-download.com safe?",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Reputation — AI Agent (Gateway)",
          "subtitle": "URL / IP / file-hash reputation in seconds.",
          "inputPlaceholder": "e.g. What's the reputation of 1.2.3.4?"
        }
      },
      "id": "7d2c3510-f5f5-4fd8-9a85-f8d8190726eb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        60
      ],
      "webhookId": "1235d65d-0e5b-5e0c-ac08-64a19a3d7bd2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point Reputation Service** assistant. You look up URL / IP / file-hash reputation over MCP and interpret the classification for the user. All calls go through the Docker MCP Gateway.\n\n== WHAT YOU CAN DO ==\n- Query reputation and risk for URLs, IP addresses, and file hashes.\n- Explain the classification, risk level, and what action a customer should take.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== GATEWAY ==\nYour tools arrive through the Check Point Docker MCP Gateway: ONE endpoint with Bearer auth that aggregates EVERY CP MCP server. You will therefore see tools from other Check Point domains too (management, Gaia, logs, threat prevention, reputation, ...). Prefer the tools relevant to this agent's domain; use the others only when the user's request clearly needs them.\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "63ae7368-9206-4c3c-9b6b-a7e184addff5",
      "name": "CP Reputation Service AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        420,
        40
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        320
      ],
      "id": "2c5835bd-2ed8-40b0-b9a6-97628163a2ee",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        60
      ],
      "name": "Normalize input",
      "id": "d43471a0-0aec-5a23-9abd-f8a2b69bcf81"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        160
      ],
      "name": "Friendly error",
      "id": "695e2c56-ca5a-5c4b-9442-541ac38864bd"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-gateway:8080/mcp",
        "options": {},
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        640,
        320
      ],
      "name": "CP MCP Gateway",
      "credentials": {
        "httpBearerAuth": {
          "id": "McpGatewayBearer",
          "name": "CP MCP Gateway Bearer"
        }
      },
      "id": "0eb0ff8e-8c33-5262-baa8-208032d86961"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -140,
        480
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "35252b16-10ad-5623-8a4f-d230794f4f54"
    },
    {
      "parameters": {
        "model": "qwen3.5:9b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        480
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "449089a4-14b4-50d5-a364-e61439657ab2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        480
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "2da7ad9c-a049-581a-8c44-e53b11c6f061"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        480
      ],
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "id": "71af3eb1-a948-51cc-974b-dea6781ab747"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        740,
        480
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "d527f6d3-c511-5362-b9b3-05b3801d0fbc"
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point Reputation — AI Agent · via MCP Gateway\n**Looks up Check Point reputation for URLs, IPs and file hashes — and tells you what to do about it.**",
        "width": 1360,
        "height": 120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -160
      ],
      "name": "Banner",
      "id": "9ae4b0d0-0301-5560-94ed-0793f9db5fad"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n- What's the reputation of 1.2.3.4?\n- Is example-download.com safe?\n\n### ⚙️ How it works\n**One endpoint. Every CP tool.** Calls ride the Docker MCP Gateway (`mcp-gateway:8080/mcp`, Bearer auth) which aggregates the entire Check Point MCP fleet.\n\n### 🧠 Models\nAzure OpenAI **gpt-5.4** wired as default — Ollama (local, no key), Gemini 2.5 Pro, GPT-5.1 and Claude Opus 4.8 are one click away.",
        "width": 460,
        "height": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        -160
      ],
      "name": "Guide",
      "id": "e040e416-e0ce-50e9-bd6b-256fa19093be"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CP MCP Gateway": {
      "ai_tool": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP Reputation Service AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "275cd6fc-b9b2-4aec-9e8d-019ba96f6841",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "GwReputationSvcWf1",
  "tags": []
}