n8n/backup/workflows/reputation-service-mcp-agent.json
{
  "name": "reputation-service-mcp-agent",
  "nodes": [
    {
      "parameters": {},
      "id": "939d3a5e-5f8e-4758-80e9-733d34b268eb",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        -64,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7d2c3510-f5f5-4fd8-9a85-f8d8190726eb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        -176
      ],
      "webhookId": "d9e1213c-ea8c-4482-aa48-36dffdb2e837"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "id": "a0af3606-5752-4df9-bd21-3c8e8c43b9f1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -176
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        128
      ],
      "id": "3120782d-d8a3-4b8c-988d-94461648bfb5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "is the domain \"hotmil.com\" malicious?\n\n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -160
      ],
      "typeVersion": 1,
      "id": "1ebe1018-afc9-4322-8b85-db6f2b6a3d3c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-07-18",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -512,
        128
      ],
      "id": "fb9b8235-b0fa-4051-91f7-2024e8601f21",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:20b-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -688,
        128
      ],
      "id": "227dc361-7ba9-4766-9644-020e0a802764",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "LLM Mmodels",
        "height": 176,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        80
      ],
      "typeVersion": 1,
      "id": "b62bdec4-4f7a-4dd6-b90b-a0d6f2cc8d42",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        176,
        112
      ],
      "id": "06cf673f-fea1-4f14-9b57-189b43dbcab1",
      "name": "List-CP-MCP-Client",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "DpbmwXj7Fa1onlHs",
          "name": "CP Reputation Service MCP Client Docker"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        336,
        112
      ],
      "id": "c0062265-cedf-4754-9065-5f0a690da23c",
      "name": "Execute-CP-MCP-Client",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "DpbmwXj7Fa1onlHs",
          "name": "CP Reputation Service MCP Client Docker"
        }
      }
    },
    {
      "parameters": {
        "content": "MCP",
        "height": 176,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        96
      ],
      "typeVersion": 1,
      "id": "8e830c84-bdaf-4e04-8dc7-62b5e48845d6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a smart AI assistant. Always follow these rules:\n\n1. Start every run by calling \"List-CP-MCP-Client\" tools. Do not execute yet.\n2. Show the available tool names.\n3. Use the best available tool name and parameters from step 1 in the tool \"Execute-CP-MCP-Client\".\n4. summarize the results."
        }
      },
      "id": "63ae7368-9206-4c3c-9b6b-a7e184addff5",
      "name": "CP Reputation Service AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -160,
        -176
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MCP-Client": {
      "ai_tool": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute-CP-MCP-Client": {
      "ai_tool": [
        [
          {
            "node": "CP Reputation Service AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0109032-1138-4649-ab86-1e48f0b92ff9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "sB45XijTVngOa7Dx",
  "tags": []
}