n8n/backup/workflows/threat-prevention-via-gateway.json
{
  "name": "CP Threat Prevention — AI Agent (Gateway)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 I'm the **Check Point Threat Prevention** AI agent — I manage your Threat Prevention policy: profiles, IPS protections, exceptions and indicators.\n\n⚡ Every call rides through the **Docker MCP Gateway** — one endpoint, Bearer auth, the whole Check Point MCP fleet.\n\n**Try one of these:**\n• List the Threat Prevention profiles\n• Which profile is strictest and what does it activate?\n• Search IPS protections related to log4j",
        "options": {
          "responseMode": "lastNode",
          "title": "CP Threat Prevention — AI Agent (Gateway)",
          "subtitle": "TP profiles, IPS protections & exceptions.",
          "inputPlaceholder": "e.g. List the Threat Prevention profiles"
        }
      },
      "id": "82a996e8-3349-43db-9dab-a6750e49ef30",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        80
      ],
      "webhookId": "abf348ac-e83f-51d1-89f0-f04119d6fc16"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the **Check Point Threat Prevention** assistant. You manage TP policy over MCP: profiles, IPS protections, exceptions, and indicators on the Security Management server. All calls go through the Docker MCP Gateway.\n\n== WHAT YOU CAN DO ==\n- Read Threat Prevention profiles and their IPS/AV/ABot/TE blade settings.\n- Inspect and search IPS protections and their activation state per profile.\n- Create/modify profiles, exceptions, and indicators when asked.\n\n== HOW TO WORK ==\n- Use ONLY the MCP tools exposed to you. Never invent tool names or parameters; if no tool fits, say so.\n- Start with read-only tools (show/list/get) to gather facts before answering.\n- If a tool call fails, show the error in one short line and suggest the next step.\n- You have conversation memory: use prior turns for context instead of re-asking.\n\n== CHANGE SAFETY ==\n- Before ANY change (add/set/delete), state exactly what you are about to change and ask the user to confirm.\n- NEVER publish or install policy unless the user explicitly asks for it in this conversation.\n- After a change, report precisely what was modified (object names, rule numbers, UIDs).\n\n== GATEWAY ==\nYour tools arrive through the Check Point Docker MCP Gateway: ONE endpoint with Bearer auth that aggregates EVERY CP MCP server. You will therefore see tools from other Check Point domains too (management, Gaia, logs, threat prevention, reputation, ...). Prefer the tools relevant to this agent's domain; use the others only when the user's request clearly needs them.\n\n== OUTPUT STYLE ==\n- Answer in concise Markdown: short paragraphs, bullets, and small tables for object/rule lists.\n- Summarize tool results faithfully. Do NOT paste raw JSON unless the user explicitly asks for raw output; \"verbatim\" means faithful to the data, not raw JSON.\n- For long lists show the 15 most relevant items and say how many more exist.\n- End multi-step work with a one-line summary of what was done."
        }
      },
      "id": "2ce5826c-b2a0-4213-829f-426d1e49c4d4",
      "name": "CP Threat Prevention AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        480,
        60
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        380
      ],
      "id": "0c991f56-af4a-49df-b2e1-41d72747369d",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        80
      ],
      "name": "Normalize input",
      "id": "28ebc6d8-2917-581c-94df-91c1b008772a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "output",
              "value": "=⚠️ I hit an error and made **no changes**.\n\n```\n{{ ($json.error && $json.error.message) || $json.error || $json.message || 'Unknown error' }}\n```\nPlease retry, or rephrase the request.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        180
      ],
      "name": "Friendly error",
      "id": "fa7f440b-396e-57d7-8fa6-904979cfa6f5"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-gateway:8080/mcp",
        "options": {},
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "check_cve_protection",
          "show_exception_group",
          "show_exception_groups",
          "show_ips_protection_extended_attribute",
          "show_ips_protection_extended_attributes",
          "show_ips_status",
          "show_ips_update_schedule",
          "show_threat_advanced_settings",
          "show_threat_indicator",
          "show_threat_indicators",
          "show_threat_layer",
          "show_threat_layers",
          "show_threat_profile",
          "show_threat_profiles",
          "show_threat_protection",
          "show_threat_protections",
          "show_threat_rule",
          "show_threat_rulebase",
          "show_threat_rule_exception_rulebase",
          "threat-prevention__init",
          "threat-prevention__show_gateways_and_servers",
          "threat-prevention__show_object",
          "threat-prevention__show_objects"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        700,
        380
      ],
      "name": "CP MCP Gateway",
      "credentials": {
        "httpBearerAuth": {
          "id": "McpGatewayBearer",
          "name": "CP MCP Gateway Bearer"
        }
      },
      "id": "a0c6b2fe-7c32-5275-bff8-1bdb1d9b5554"
    },
    {
      "parameters": {
        "model": "gpt-5.4-2026-03-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "name": "Azure OpenAI (default)",
      "credentials": {
        "azureOpenAiApi": {
          "id": "nmUI0INbLO2IrroY",
          "name": "Azure Open AI account"
        }
      },
      "id": "a97f9b2e-7cc2-5813-9bfd-7eae0e003e78"
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        460,
        600
      ],
      "name": "Ollama — local qwen3.5",
      "credentials": {
        "ollamaApi": {
          "id": "i8fXatxwj12xOABO",
          "name": "Ollama account"
        }
      },
      "id": "e5bf9ece-0886-5c9d-853f-0e8db1730f5b"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        600
      ],
      "name": "Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "jQWvIJNDs6CeSDiN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "ab625c46-f6f0-51e1-a3ce-80cbf5ed3e78"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.1",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        600
      ],
      "name": "OpenAI gpt-5.1",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      },
      "id": "e78d13bb-ce13-553f-9d3f-2f7651dd2947"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-8",
          "cachedResultName": "Claude Opus 4.8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        600
      ],
      "name": "Claude Opus 4.8",
      "credentials": {
        "anthropicApi": {
          "id": "AnthropicCred001",
          "name": "Anthropic account"
        }
      },
      "id": "18b98f62-5a3e-54ea-9015-6a0edc418968"
    },
    {
      "parameters": {
        "content": "## 🛡️ Check Point Threat Prevention — AI Agent · via MCP Gateway\n**Manages Threat Prevention policy — profiles, IPS protections, exceptions, indicators.**",
        "width": 1320,
        "height": 120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -240
      ],
      "name": "Banner",
      "id": "5f0893d9-0646-5811-b5fd-97b9283267f3"
    },
    {
      "parameters": {
        "content": "### 💬 Try these\n- List the Threat Prevention profiles\n- Which profile is strictest and what does it activate?\n- Search IPS protections related to log4j\n\n### ⚙️ How it works\n**One endpoint. Every CP tool.** Calls ride the Docker MCP Gateway (`mcp-gateway:8080/mcp`, Bearer auth) which aggregates the entire Check Point MCP fleet.\n\n### 🧠 Models\nAzure OpenAI **gpt-5.4** wired as default — Ollama (local, no key), Gemini 2.5 Pro, GPT-5.1 and Claude Opus 4.8 are one click away.",
        "width": 520,
        "height": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        60
      ],
      "name": "Guide",
      "id": "06ac1a13-208b-5947-b40f-cf8bb4d5d59e"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "CP Threat Prevention AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "CP Threat Prevention AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI (default)": {
      "ai_languageModel": [
        [
          {
            "node": "CP Threat Prevention AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CP MCP Gateway": {
      "ai_tool": [
        [
          {
            "node": "CP Threat Prevention AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP Threat Prevention AI Agent": {
      "main": [
        [],
        [
          {
            "node": "Friendly error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13dabc06-1f6c-4226-b91a-43415fa49be7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8fb8b7c9f227cabfd3532e55a910625bd5265edfac26d35ea7f1663405904ec"
  },
  "id": "GwThreatPrevWf1",
  "tags": []
}